<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>rapport clone</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
        *{
            font-family: 'Montserrat';
        }
        #logo{
            margin-left: 80px;
            display:inline-block;
            width: 100vw;
        }
        #logo img{
            position: fixed;
            right: 50px;
            top: 20px;
            width: 50px;
            height: 50px;
            /* float:right;
            margin-top: -220px;
            margin-right: 150px; */
        }
        .card{
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            width: 230px;
            background: rgb(223, 215, 215);
            border-radius: 28px;
        }
        .card p {
            margin-left: 20px;
            font-size: 16px;
            font-weight: 300;
        }
        .number{
            font-weight: 700;
            margin-left: 10px;
        }
        .left-border{
            position: fixed;
            top:0;
            left: 0;
            width: 30px;
            height: 900vh;
            background: #E5005B;
        }
        .container{
            margin-left: 20px;
        }
        .title{
            color: #E5005B;
            font-weight: 700;
            font-size: 28px;
        }
        .table{
            margin-left: 80px;
            font-size: 8px;
        }
        .table p{
            margin-left: 10px;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 700;
        }
        table{
            border-collapse: collapse;
            width: 90%;
        }
        td,th{
            border: 1px solid #ddd;
            border-left:0;
            border-right:0;
            padding-top:10px;
            padding-right:10px;
            text-align: center;
        }
        th{
            border-top: 0;
            /* float:left; */
            text-align: center;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
    </style>
</head>
<body>
    <div class="left-border"></div>
    <div class="container">
        <div id="logo">
            <p class="title">Rapport Classe</p>
            <div class="card">
                <p>Nombre total d'enfants: <span class="number"> <%=enfant.length%></span></p>
                <p>Nombre de classes:<span class="number"><%=classes.length%></span></p>
            </div>
            <img src="http://localhost:3000/img/Logo.png">
        </div>
        <%if(!Array.isArray(classes)){classes = [classes]}%>
        <%classes.forEach((i)=>{%>
        <div class=table>
            <p>Classe <%if(i==1){%>
                Swans
              <%}%>
              <%if(i == 2){%>
                Little foxes
              <%}%>
              <%if(i == 3){%>
                Foxes
              <%}%>
              <%if(i == 4){%>
                Bears
              <%}%>
              <%if(i == 5){%>
                Seals
              <%}%>
              <%if(i == 6){%>
                Owls
              <%}%></p>
            <table>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Contact urgence</th>
                    <th scope="col">Social media</th>
                    <th scope="col">Forfait</th>
                    <th scope="col">Cantine</th>
                    <th scope="col">Service de garde</th>
                    <th scope="col">Mercredi après-midi</th>
                    <th col="col">Transport</th>
                </tr>
                <%enfant[0].forEach((enfant)=>{%>
                    <%if(enfant.classe == i){%>
                    <tr>
                    <td>
                        <%=enfant.nom%>
                    </td>
                    <td>
                        <%=enfant.prenom%>
                    </td>
                    <td>
                        <%=enfant.date_naissance.getDay()+"/"+(enfant.date_naissance.getMonth()+1)+"/"+enfant.date_naissance.getFullYear()%>
                    </td>
                    <td>
                        <%=urgence[j]%>
                        <%j++;%>
                    </td>
                    <td>
                        <%if(enfant.sm){%>
                            oui
                        <%};%>
                        <%if(!enfant.sm){%>
                            non
                        <%};%>
                    </td>
                    <td>
                        <%if(enfant.type_forfait.includes(1)){%>
                             Journée complèt
                        <%};%>
                        <%if(enfant.type_forfait.includes(2)){%>
                             AM
                        <%};%>
                        <%if(enfant.type_forfait.includes(3)){%>
                             PM
                        <%};%>
                        <%if(enfant.type_forfait.includes(4)){%>
                             2 jours
                        <%};%>
                        <%if(enfant.type_forfait.includes(5)){%>
                             3 jours
                        <%};%>
                    </td>
                    <td>
                        <%if(enfant.cantine){%>
                            oui
                        <%};%>
                        <%if(!enfant.cantine){%>
                            non
                        <%};%>
                    </td>
                    <td>
                        <%if(enfant.gardes){%>
                            oui
                        <%};%>
                        <%if(!enfant.gardes){%>
                            non
                        <%};%>
                    </td>
                    <td>
                        <%if(enfant.mercredi){%>
                            oui
                        <%};%>
                        <%if(!enfant.mercredi){%>
                            non
                        <%};%>
                    </td>
                    <td>
                        <%if(enfant.transport){%>
                            oui
                        <%}%>
                        <%if(!enfant.transport){%>
                            non
                        <%};%>
                    </td>
                </tr>
                <%};%>
                <%});%>
            </table>
        </div>
        <%});%>
    </div>
</body>
</html>