<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>rapport clone</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
        *{
            font-family: 'Montserrat';
        }
        #logo{
            margin-left: 80px;
            display:inline-block;
            width: 100vw;
        }
        #logo img{
            position: fixed;
            right: 50px;
            top: 20px;
            width: 50px;
            height: 50px;
            /* float:right;
            margin-top: -220px;
            margin-right: 150px; */
        }
        .card{
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            width: 230px;
            background: rgb(223, 215, 215);
            border-radius: 28px;
        }
        .card p {
            margin-left: 20px;
            font-size: 16px;
            font-weight: 300;
        }
        .number{
            font-weight: 700;
            margin-left: 10px;
        }
        .left-border{
            position: fixed;
            top:0;
            left: 0;
            width: 30px;
            height: 900vh;
            background: #00A1DD;
        }
        .container{
            margin-left: 20px;
        }
        .title{
            color: #00A1DD;
            font-weight: 700;
            font-size: 28px;
        }
        .table{
            margin-left: 80px;
            font-size: 12px;
        }
        .table p{
            margin-left: 10px;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 700;
        }
        table{
            border-collapse: collapse;
            width: 90%;
            margin-top: 10px;
        }
        td,th{
            border: 1px solid #ddd;
            border-left:0;
            border-right:0;
            padding-top:10px;
            padding-right:10px;
            text-align: center;
        }
        th{
            border-top: 0;
            /* float:left; */
            text-align: center;
        }
        .emails{
            border: 1px solid black;
            width: 350px;
            height: 200px;
            overflow: scroll;
            margin-left: 100px;
            margin-top: 20px;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
    </style>
</head>
<body>
    <div class="left-border"></div>
    <div class="container">
        <div id="logo">
            <p class="title">Rapport Global Emails Parents</p>
            <div class="card">
                <p>Nombre total: <span class="number"> <%=enfant.length%></span></p>
            </div>
            <img src="http://localhost:3000/img/Logo.png">
        </div>
        <%if(key){%>
        <div class="emails">
            <%tmp = "";pere.forEach((item)=>{%>
                <%tmp += item+" ";%>
            <%});%>
            <%mere.forEach((item)=>{%>
                <%tmp += item+" ";%>
            <%});%>
            <%=tmp%>
        </div>
        <%}%>
        <div class=table>
            <table>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email père</th>
                    <th scope="col">Email mère</th>
                </tr>
                <%for(let j=0;j<enfant.length;j++){%>
                    <tr>
                    <td>
                        <%=enfant[j].nom%>
                    </td>
                    <td>
                        <%=enfant[j].prenom%>
                    </td>
                    <td>
                        <%if(pere[j] && pere[j].courriel){%>
                        <%=pere[j].courriel%>
                        <%}%>
                    </td>
                    <td>
                        <%if(mere[j] && mere[j].courriel){%>
                        <%=mere[j].courriel%>
                        <%}%>
                    </td>
                </tr>
                <%}%>
            </table>
        </div>
    </div>
</body>
</html>